body{
    margin: 0%;
    /* background-color: #2F3035; */
    height: 100vh;
    background-image: url(/images//background-adare-restaurant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    height: 90px;
    margin-top: 10px;
    /* background-color: #2F3035; */
    text-align: center;
}

header>img{
   overflow: hidden;
}
nav{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(8, 7, 7, 0.384);
}

nav>a{
    color: rgba(255, 255, 255, 0.699);
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
}

main{
    display: flex;
    flex-direction: column;
    height: 400px;
    /* background-color:#2F3035; */
    text-align: center;
    justify-content: center;
    align-items: center;
    flex:3
    
}
main>h1{
    color: white;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main>p{
 color: white;
}

main>a{ 
    color: white;
    text-transform: uppercase;
}

section{
    display: flex;
    overflow-x: auto;
    scroll-snap-type:mandatory;
}

section>iframe{
     margin: 20px;
     scroll-snap-align: start;
}
footer{
    margin-top: auto;
     height: 40px;
    background-color:rgba(12, 12, 10, 0.397);
    padding: 20px;
    text-align: center;
}
footer>p{
    color: rgba(255, 255, 255, 0.479);
}