#container{
    background-color: #303540;
    min-height: 100vh;
}

section{
    min-height: 100vh;
    margin-right: 25%;
    margin-left: 25%;
    background-color:#444850 ;
}

.card {
 margin: 10px;
  max-width: 100%;
  border-radius: 1rem;
  background-color: rgba(31, 41, 55, 1);
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
  
  /* background-color: rgba(118, 36, 194, 0.226); */
  /* background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240)); */
}

#quantity{
    height: 9rem;
}
.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 2.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 40%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
    font-size: 16px;
    margin: 10px;
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}


.input {
  max-width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 7px;
  border: 0;
  outline: auto grey;
  /* padding-inline: 15px; */
  font-size: 16px;
  transform: all 200ms;
}

.addQuantity{
    width: 46px;
    height: 36px;
    border-radius:50%;
}

@media(max-width:1366px){
    .stats{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .request{
        width: 25%;
        margin-left: 75%;
        text-align: center;
    }
    .d-flex{
        flex-direction: column;
    }
}